In [2]:
import pandas as pd
import numpy as np

In [17]:
data = {
    '날짜': ['3/20', '3/21', '3/22', '3/23', '3/24'],
    '매출 편차': np.random.randn(5),
    '손님 평균 연령': np.random.randint(10,60,5)
}

df = pd.DataFrame(data)
df

     날짜     매출 편차  손님 평균 연령
0  3/20  0.005258        44
1  3/21 -0.394885        57
2  3/22 -0.636792        31
3  3/23  1.815161        24
4  3/24 -0.042077        17

In [18]:
df['매출 편차']

0    0.005258
1   -0.394885
2   -0.636792
3    1.815161
4   -0.042077
Name: 매출 편차, dtype: float64

In [19]:
df[df["손님 평균 연령"] >= 20]

     날짜     매출 편차  손님 평균 연령
0  3/20  0.005258        44
1  3/21 -0.394885        57
2  3/22 -0.636792        31
3  3/23  1.815161        24

In [26]:
df.loc[2, '매출 편차'] = np.nan
df.iloc[4, 2] = np.nan

In [27]:
df.isnull()

      날짜  매출 편차  손님 평균 연령
0  False  False     False
1  False  False     False
2  False   True     False
3  False  False     False
4  False  False      True

In [34]:
df['매출 편차'] = df['매출 편차'].fillna(0)

In [36]:
df['손님 평균 연령'] = df['손님 평균 연령'].fillna(df['손님 평균 연령'].mean())

In [37]:
df

     날짜     매출 편차  손님 평균 연령
0  3/20  0.005258      44.0
1  3/21 -0.394885      57.0
2  3/22  0.000000      31.0
3  3/23  1.815161      24.0
4  3/24 -0.042077      39.0